.tooltip-inner {
    max-width: 600px;
    /* If max-width does not work, try using width instead */
    width: 400px; 
}

.timepicker {
  width: 100px !important;
  margin-left: 10px;
  margin-right: 10px
}