
a {
    text-decoration: none;
    color: #000;
}

a:hover{
  text-decoration: none !important;
}

nav {
  background:
        linear-gradient(#f8f9fa, transparent),
        linear-gradient(to top left,#F3D26E,  transparent),
        linear-gradient(to top right, #8C7736, transparent);
    background-blend-mode: screen;
    background-attachment: fixed;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}

.principal-background {
    background:
        linear-gradient(#C3BF71, transparent),
        linear-gradient(to top left,#F3D26E,  transparent),
        linear-gradient(to top right,#A99041,transparent);
    background-blend-mode: screen;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.contenedor_principal{
  align-content: center;
  text-align: center;
  font-size: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.contenedor_items{
  background-color: #959256;
  color:white;
  text-shadow: 2px 2px 4px #000000;
  padding: 3%;

}
.estrellas{
  font-size: 40px;
}
.contenedor{
    width: 100%;
    height: 100%;
    margin: auto;
    /*background: url("../img/fondo.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

nav #menu a {
    color: white;
    text-decoration: none;
    background-color: #959256;
    display:block;
    margin: 1px 2px;
    
}

.boton{
    text-decoration: none;
    background-color: #959256;
    margin: 5px 2px;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}
.boton:hover{
    background: rgba(180,176,106,0.9);
    color: white;
    text-decoration: none;
}

nav #menu a:hover{
    background: rgba(0,0,0,0.3);
    color: #FFFF ;
    text-decoration: none;
     
    
}

nav .icon-menu {
    background-color: transparent;
    border: none !important;
    display: none;
}

nav .menu_completo{
    align-content: right;
    display: block;
    list-style: none;
    justify-content: flex-end;
    
}

.nav-link{
  color:white !important;
}

.nav-link:hover{
  border: none;
}

.nav-item{
  background-color: #959256;
  
}

.nav-tabs .nav-link.active{
  text-decoration: none;
  border: none;
  margin-bottom: -2px;
  background: rgba(180,176,106,0.9);
}

.tab-content{
  color: #4B4B29;
  background: rgba(180,176,106,0.9);
}
a.icon-borrar:hover{
    color: #000;
    text-decoration: none;
    
    
}

.containers{
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 50px;
    background-color: #909090;
    align-content: center;
    background: url("../img/fondo_datos.png");
    opacity: 0.9;
}
.containers-ABM{
    margin-top: 200px;
    padding: 50px;
    background-color: #909090;
    align-content: center;
    background: url("../img/fondo_datos.png");
    opacity: 0.9;
}
.container-dentro{
    background-color: #FFFF;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul li .nav-item:hover{
  text-decoration: none;
  color: #959256;
  background: #A99041;
}
#menu_logueado{
  text-align: right;
}

i {
  font-size: 16px;
}

.titulitos{
    color: #959256;
    text-shadow: 1px 1px 2px #000;
}

.sub-titulitos{
  color: #959256;
}
.sombra{
  color: #959256;
  text-shadow: 1px 1px 2px #000;
}

.alert{
  text-align: left;
}
.card-body{
  text-align: left;
}

.agregar{
    color:#959256;
}

.agregar:hover{
  color:#959256;
  text-decoration: none;
}

.img_principal{
  text-align: center;
  margin-top: 100px;
  
}
.navbar{
    display: block!important;
}

nav #titulo {
    font-family: BirdsofParadise;
    font-size: 350%;
    
}
nav #titulo:hover {
    color: #000 ;
    font-family: BirdsofParadise;
    text-decoration: none;
    
}
nav #menu-contenedor{
    padding-top: 25px;
    text-align: right;
    display: block;
}

nav #menu-titulo{
    padding-left: 3%;
    padding-right: 0;
}

.fondo_pag{
    width: 100%;
    height: 100%;
    background-color:#C3BF71;
}

.dia-seleccionado{
    padding-bottom: 1%;
}
#form-agregar{
  margin-left: 4%;
  margin-right: 4%;
}

#cancelar-disponibilidad{
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
    align-content: center;
    background-color:#FCFBE3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#logo{
  width: 100px;
  margin-top: -40px;
  margin-left: -20px;
}
.contenedor-fondo{
    font-family: sans-serif;
    font-weight: 700px;
    margin-top: 200px;
    padding: 50px;
    align-content:center;
    background-color:#FCFBE3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  
}
.vl {
  border-left: 2px solid #DDDCC9 ;
  padding-top: -10px;
  padding-bottom: -10px;
  position: absolute;
  height: 100%;
  right: 0px;
  top: 0;
}

.tabs li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.tabs li a:hover {
  background-color: #ECEBD5;
  color: #000;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

#usuario{
  font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 25px;
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media(max-width:1116px){
    a.icon-borrar{
        margin-top: 20px;
        
    }
}


/*
@media (max-width:892px){
    nav #menu-contenedor{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}*/

@media (max-width: 768px) {
    nav .icon-menu{
        padding-top: 25px;
        display: block !important;
        text-align: right;
        font-size: 200%;
    }
    nav #menu-contenedor{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        display: none;
    }
    
    nav .icon-menu ul{
        position: block;
        top: 90px !important;
        left: 0%;
        font-size: 200%;
    } 
    .boton{
        margin-left: 5%;
        margin-right: 5%;
        align-content: center;
    }
    .containers{
        margin-left: 0%;
        margin-right: 0%;
    }
    
   
    
}
@media(max-width:541px){
      a.icon-borrar{
        margin-top: 30px;
        
    }
}

@media (max-width: 328px) {
    #titulo{
        font-size: 250%;
    }
}